<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FactorySample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A4AA6F21C2243B500F2615C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4AA70B1C2243B600F2615C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4AA7161C2243B600F2615C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
